#SignIn {
  width: 80%;
  /* margin: auto; */
  position: absolute;
  top: 30%;
  right: 10%;
  /* border: 2px solid black;
     */
}

#SignInContainer {
  /* border: 2px solid #388e3c ; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #2b672e; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  background-color: #EAEAEA;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -17px) scale(0.85) !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #00ABB3 !important;
}
